*{margin:0px;padding: 0px;}
body{font-size:16px;background:#fff; font-family: Raleway;}
a { color: #007D81; font-size: 13px;}
a:hover,.newsletter-block li a:hover { color: #007D81; }
img {border:0px;}
a:hover, a:focus {color:#000;text-decoration: none;}
h1{font-size:44px;}
h2{font-size:21px;}
h3{font-size:18px;}
h4{font-size:16px;line-height: 22px;}
h5{font-size:14px;}
h6{font-size:12px;}
h1,h2,h3,h4,h5,h6{margin-bottom: 10px;font-family:'Open Sans', sans-serif;}
#wrapper,.wrapper-header {float: left;width: 100%;}
.common-margin{margin-bottom: 20px;}
.container-fluid{margin: 0 auto;width: 100%;max-width: 1200px}
.no-padding {padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;}
.no-padding-left{padding-top: 0px;padding-bottom: 0px;padding-left: 0px;}
.no-padding-right{padding-top: 0px;padding-bottom: 0px;padding-right: 0px;}
.no-margin {margin-right:0px;margin-left:0px;margin-top:0px;margin-bottom:0px;}

.common-margin{margin-bottom: 20px;}
.container-fluid{margin: 0 auto;width: 100%;max-width: 1140px}
.header-top {padding: 20px 0px;position: relative;z-index: 999}
.header-right {padding-top: 20px;}
.social-icons li {  padding-right: 20px;}
.social-icons li:last-child{padding-right:0;}
.social-icons li .fa{font-size: 20px;line-height:45px;}
.date-left .fa,.map-left .fa{font-size: 48px;}
.date-left { float: left; width: 20%;}
.date-right{width: 80%;float: left;}
.date-block { float: right;}

.map-left{width: 30%;float: left;}
.map-right{width: 70%;float: left;}
.map-block { float: right; padding-right: 20px;}
.map-right .pad-left{padding-left: 3px;padding-top: 12px;}

.scp-icon-bullet-text-text p {font-size: 11px;font-weight: bold;line-height: 17px;margin-bottom: 0;}
.scp-icon-bullet-text-text {padding-top: 5px;margin-bottom: 10px;}
.pad-left {padding-left: 10px;}
.scp-icon-bullet-text-text h6{margin-bottom: 2px;margin-top: 2px;}

#menu_holder {
    float: left;
    width: 100%;
    position: relative;z-index: 999;
}
.header-bottom, .submenu-block {
    width: 100%;
    float: left;
}

.submenu-block{display: none;}

.navbar-nav>li>a{font-size: 15px;font-family: Raleway;font-weight: bold;padding: 10px;color:#00857B}
.navbar-nav>li>a:hover{background: none;}
.navbar-nav>li:hover .submenu-block{display: block;    position: absolute;min-width: 180px;left: 12px;top:42px}
.submenu-block ul li{list-style: none;margin-bottom:4px;}
.login-block{text-align: right;padding-top:10px;}
.login-block a{font-size: 15px;font-weight: bold;   }
.header-menu .navbar-collapse{width: 66%;}
.login-block .fa{font-size: 20px;color: #000;}
.banner-block{ margin-top: -185px;}