<!--<div id="wrapper">-->
  <!--<div class="wrapper-header">-->
    <!--<div class="header-top-common">-->
      <!--<header>-->
        <!--<div class="container-fluid">-->

          <!--<div class="header-top row no-margin">-->
            <!--<div class="logo col-lg-4 col-md-4 col-sm-5 col-xs-4 no-padding">-->
              <!--<div class="logo-border">-->
                <!--&lt;!&ndash; <a href="/"><img src="http://assets.kreatio.net/energynewsbulletin_stage/images/logo01.png" class="img-responsive" alt="logoimage"/></a> &ndash;&gt;-->
                <!--<a href="/"><img alt="Logo01" class="img-responsive" src="//assets.kreatio.net/energynewsbulletin_stage/images/logo01.png"></a>-->
              <!--</div>-->
            <!--</div>&lt;!&ndash;logo-close&ndash;&gt;-->
            <!--<div class="header-right col-lg-8 col-md-8 col-sm-7 col-xs-8 row no-padding no-margin">-->

              <!--<div class="social-icons col-lg-2 col-md-2 col-sm-2 col-xs-12 no-padding pull-right">-->
                <!--<ul class="list-inline">-->
                  <!--<li>-->
                    <!--<a target="_blank" href="" class="rss-icon">-->
                      <!--<i class="fa fa-twitter"></i>-->
                    <!--</a>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<a target="_blank" href="" class="linkedin-icon">-->
                      <!--<i class="fa fa-facebook"></i>-->
                    <!--</a>-->
                  <!--</li>-->
                  <!--<li>-->
                    <!--<a target="_blank" href="" class="twitter-icon">-->
                      <!--<i class="fa fa-instagram"></i>-->
                    <!--</a>-->
                  <!--</li>-->
                <!--</ul>-->
              <!--</div>-->

              <!--<div class="map-block col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">-->
                <!--<div class="map-left">-->
                  <!--<i class="fa fa-globe" aria-hidden="true"></i>-->
                <!--</div>-->
                <!--<div class="map-right">-->
                  <!--<div class="scp-icon-bullet-text-text pad-left" style="margin:-5px 0px 0px 0px;">-->
                    <!--<p class="subtitle" style="color:#666;">GEO Graphical</p>-->
                    <!--<h6 class="title" style="color:#bcca59;">Location</h6>-->
                  <!--</div>-->


                <!--</div>-->


              <!--</div>&lt;!&ndash;social-list-block-close&ndash;&gt;-->

              <!--<div class="date-block col-lg-4 col-md-4 col-sm-4 col-xs-12 no-margin">-->
                <!--<div class="date-left">-->
                  <!--<i class="fa fa-clock-o" aria-hidden="true"></i>-->
                <!--</div>-->
                <!--<div class="date-right">-->
                  <!--<div class="scp-icon-bullet-text-text pad-left" style="margin:-5px 0px 0px 0px;">-->
                    <!--<p class="subtitle" style="color:#666;">Saturday - Sunday CLOSED</p>-->
                    <!--<h6 class="title" style="color:#bcca59;">Mon - Fri 8.00 - 18.00</h6>-->
                    <!--<p class="description" style="color:#666;">Call us</p></div>-->

                <!--</div>-->
              <!--</div>&lt;!&ndash;search-block-close&ndash;&gt;-->
            <!--</div>&lt;!&ndash;header-right-close&ndash;&gt;-->
          <!--</div>-->
        <!--</div>-->

        <!--<div id="menu_holder">-->
          <!--<div class="header-bottom">-->
            <!--<div class="header-menu">-->
              <!--<div class="container-fluid">-->
                <!--<div class="navbar-header">-->
                  <!--<button type="button" class="navbar-toggle menu-log" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                  <!--</button>-->
                  <!--<button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">-->
                    <!--<span class="glyphicon glyphicon-search"></span>-->
                  <!--</button>-->
                <!--</div>-->
                <!--<div class="collapse navbar-collapse no-padding col-md-8 col-sm-8 col-xs-12" id="bs-example-navbar-collapse-1">-->
                  <!--<ul class="nav navbar-nav">-->




                    <!--<li class="exploration-development-menu ">-->

                      <!--<a href="/category/exploration-development">Home</a>-->

                    <!--</li>-->



                    <!--<li class="finance-menu ">-->

                      <!--<a href="/category/finance">Finance</a>-->
                      <!--<div class="submenu-block">-->
                        <!--<div class="submenu-nav">-->
                          <!--<ul>-->
                            <!--<li>-->
                              <!--<a href="/category/finance/capital-markets">Capital markets</a>-->
                            <!--</li>-->
                            <!--<li>-->
                              <!--<a href="/category/finance/project-finance">Project finance</a>-->
                            <!--</li>-->
                            <!--<li>-->
                              <!--<a href="/category/finance/m-a">M&amp;A</a>-->
                            <!--</li>-->
                            <!--<li>-->
                              <!--<a href="/category/finance/profit-loss">Profit &amp; Loss</a>-->
                            <!--</li>-->
                            <!--<li>-->
                              <!--<a href="/category/finance/regulation">Regulation</a>-->
                            <!--</li>-->
                          <!--</ul>-->
                        <!--</div>-->


                      <!--</div>-->
                    <!--</li>-->



                    <!--<li class="commodities-menu ">-->

                      <!--<a href="/category/commodities">Commodities</a>-->
                      <!--<div class="submenu-block">-->
                        <!--<div class="submenu-nav">-->
                          <!--<ul>-->
                            <!--<li>-->
                              <!--<a href="/category/commodities/gold-and-silver">Gold &amp; Silver</a>-->
                            <!--</li>-->
                            <!--<li>-->
                              <!--<a href="/category/commodities/copper">Copper</a>-->
                            <!--</li>-->
                            <!--<li>-->
                              <!--<a href="/category/commodities/energy-minerals">Energy Minerals</a>-->
                            <!--</li>-->
                            <!--<li>-->
                              <!--<a href="/category/commodities/bulks">Bulks</a>-->
                            <!--</li>-->
                            <!--<li>-->
                              <!--<a href="/category/commodities/precious-stones">Precious stones</a>-->
                            <!--</li>-->
                            <!--<li>-->
                              <!--<a href="/category/commodities/agminerals">AgMinerals</a>-->
                            <!--</li>-->
                            <!--<li>-->
                              <!--<a href="/category/commodities/base-metals">Base metals</a>-->
                            <!--</li>-->
                          <!--</ul>-->
                        <!--</div>-->


                      <!--</div>-->
                    <!--</li>-->



                    <!--<li class="viewpoint-menu active">-->

                      <!--<a href="/category/viewpoint">Viewpoint</a>-->
                      <!--<div class="submenu-block">-->
                        <!--<div class="submenu-nav">-->
                          <!--<ul>-->
                            <!--<li>-->
                              <!--<a href="/category/viewpoint/barry-fitzgerald">Barry Fitzgerald</a>-->
                            <!--</li>-->
                            <!--<li>-->
                              <!--<a href="/category/viewpoint/dryblower">Dryblower</a>-->
                            <!--</li>-->
                            <!--<li>-->
                              <!--<a href="/category/viewpoint/strictly-boardroom">Strictly Boardroom</a>-->
                            <!--</li>-->
                            <!--<li>-->
                              <!--<a href="/category/viewpoint/outcrop">Outcrop</a>-->
                            <!--</li>-->
                            <!--<li>-->
                              <!--<a href="/category/viewpoint/forum">Forum</a>-->
                            <!--</li>-->
                          <!--</ul>-->
                        <!--</div>-->


                      <!--</div>-->
                    <!--</li>-->



                    <!--<li class="mets-investor-menu ">-->

                      <!--<a href="/category/mets-investor">Mets Investor</a>-->
                      <!--<div class="submenu-block">-->
                        <!--<div class="submenu-nav">-->
                          <!--<ul>-->
                            <!--<li>-->
                              <!--<a href="/category/mets-investor/leadership">Leadership</a>-->
                            <!--</li>-->
                            <!--<li>-->
                              <!--<a href="/category/mets-investor/deals-finance">Deals/Finance</a>-->
                            <!--</li>-->
                            <!--<li>-->
                              <!--<a href="/category/mets-investor/events-coverage">Events Coverage</a>-->
                            <!--</li>-->
                            <!--<li>-->
                              <!--<a href="/category/mets-investor/stocks-market-insight">Stocks/Market Insight</a>-->
                            <!--</li>-->
                          <!--</ul>-->
                        <!--</div>-->


                      <!--</div>-->
                    <!--</li>-->



                    <!--<li class="mine-risk-management-menu ">-->

                      <!--<a href="/category/mine-risk-management">Mine Risk Management</a>-->
                      <!--<div class="submenu-block">-->
                        <!--<div class="submenu-nav">-->
                          <!--<ul>-->
                            <!--<li>-->
                              <!--<a href="/category/mine-risk-management/leadership">Leadership</a>-->
                            <!--</li>-->
                            <!--<li>-->
                              <!--<a href="/category/mine-risk-management/events-coverage">Events Coverage</a>-->
                            <!--</li>-->
                            <!--<li>-->
                              <!--<a href="/category/mine-risk-management/ratings">Ratings</a>-->
                            <!--</li>-->
                            <!--<li>-->
                              <!--<a href="/category/mine-risk-management/politics">Politics</a>-->
                            <!--</li>-->
                          <!--</ul>-->
                        <!--</div>-->


                      <!--</div>-->
                    <!--</li>-->


                  <!--</ul>-->
                <!--</div>-->

                <!--<div class="login-block col-md-4 col-sm-4 col-xs-12">-->
                  <!--<span class="user-logo"><i class="fa fa-user-o" aria-hidden="true"></i></span>-->
                  <!--<a href="">-->

                    <!--Sign In-->
                  <!--</a>-->

                <!--</div>-->

              <!--</div>&lt;!&ndash;container-fluid&ndash;&gt;-->
            <!--</div>&lt;!&ndash;header-bottom-inner-close&ndash;&gt;-->
          <!--</div>&lt;!&ndash;header-bottom&ndash;&gt;-->
        <!--</div>-->

        <!--<div class="banner-block col-md-12 col-sm-12 col-xs-12 no-padding">-->
          <!--<div class="banner col-md-12 col-sm-12 col-xs-12 no-padding">-->
            <!--<div class="flexslider"style="margin: 0px;">-->
              <!--<ul class="slides">-->
                <!--<li>-->
                  <!--<a href="#"><img alt="1" class="img-responsive" draggable="false" src="images/bg-slider02.png" /></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#"><img alt="1" class="img-responsive" draggable="false" src="images/Slider-03.png" /></a>-->
                <!--</li>-->

              <!--</ul>&lt;!&ndash;slides&ndash;&gt;-->
            <!--</div>&lt;!&ndash;banner&ndash;&gt;-->
          <!--</div>-->
        <!--</div>-->
      <!--</header>-->
    <!--</div>-->
  <!--</div>-->
    <!--<div class="image-container">-->
      <!--<div class="kinder-garden-img">-->

      <!--</div>-->
      <!--<div class="high-school-img">-->

      <!--</div>-->
      <!--<div class="college-img">-->

      <!--</div>-->
    <!--</div>-->

    <!--<div class="testimonial-slider">-->
      <!--<div class="slider">-->
        <!--<div class="">-->
          <!--<i class="quote-icon"></i>-->
        <!--</div>-->

        <!--<input type="radio" name="slider" id="slide1" checked="checked" class="slider-btn slide1" />-->
        <!--<input type="radio" name="slider" id="slide2" class="slider-btn slide2" />-->
        <!--<input type="radio" name="slider" id="slide3" class="slider-btn slide3" />-->
        <!--<input type="radio" name="slider" id="slide4" class="slider-btn slide4" />-->
        <!--<input type="radio" name="slider" id="slide5" class="slider-btn slide5" />-->

        <!--<div class="contents">-->
          <!--<div class="slider-content slide1 d-flex">-->
            <!--<div class="slider-contents d-flex flex-column flex-grow-1 justify-content-center">-->
              <!--<p class="text-c-secondary text-lg slider-text">-->
                <!--After lots of shopping around or mortgages I decided Consumer Direct because of Phil's professionalism, knowledge and attention-->
                <!--to my needs. I asked lots of questions at all hours of the week and he always responded promptly. I would-->
                <!--recommend him to anyone.-->
              <!--</p>-->
              <!--<span>Sylvster, Windsor, CT</span>-->
              <!--<p class="text-c-secondary text-lg slider-text mt-5">-->
                <!--Great experience start to finish. Made it quick and easy. Highly recommend to anyone regardless of need type. Thanks for-->
                <!--all of advice and expertise!-->
              <!--</p>-->
              <!--<span>Nick, Westfield, IN</span>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="slider-content slide2 d-flex">-->
            <!--<div class="slider-contents d-flex flex-column flex-grow-1 justify-content-center">-->
              <!--<p class="text-c-secondary text-lg slider-text">-->
                <!--Great experience start to finish. Made it quick and easy. Highly recommend to anyone regardless of need type. Thanks for-->
                <!--all of advice and expertise!-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="slider-content slide3 d-flex">-->
            <!--<div class="slider-contents d-flex flex-column flex-grow-1 justify-content-center">-->
              <!--<p class="text-c-secondary text-lg slider-text">-->
                <!--After lots of shopping around or mortgages I decided Consumer Direct because of Phil's professionalism, knowledge and attention-->
                <!--to my needs. I asked lots of questions at all hours of the week and he always responded promptly. I would-->
                <!--recommend him to anyone. After lots of shopping around or mortgages I decided Consumer Direct because of-->
                <!--Phil's professionalism, knowledge and attention to my needs. I asked lots of questions at all hours of-->
                <!--the week and he always responded promptly. I would recommend him to anyone.-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="slider-content slide4 d-flex">-->
            <!--<div class="slider-contents d-flex flex-column flex-grow-1 justify-content-center">-->
              <!--<p class="text-c-secondary text-lg slider-text">-->
                <!--Great experience start to finish. Made it quick and easy. Highly recommend to anyone regardless of need type. Thanks for-->
                <!--all of advice and expertise!-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="slider-content slide5 d-flex">-->
            <!--<div class="slider-contents d-flex flex-column flex-grow-1 justify-content-center">-->
              <!--<p class="text-c-secondary text-lg slider-text">-->
                <!--After lots of shopping around or mortgages I decided Consumer Direct because of Phil's professionalism, knowledge and attention-->
                <!--to my needs. I asked lots of questions at all hours of the week and he always responded promptly. I would-->
                <!--recommend him to anyone. After lots of shopping around or mortgages I decided Consumer Direct because of-->
                <!--Phil's professionalism, knowledge and attention to my needs. I asked lots of questions at all hours of-->
                <!--the week and he always responded promptly. I would recommend him to anyone. After lots of shopping around-->
                <!--or mortgages I decided Consumer Direct because of Phil's professionalism, knowledge and attention to my-->
                <!--needs. I asked lots of questions at all hours of the week and he always responded promptly. I would recommend-->
                <!--him to anyone.-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="options slider-container d-flex justify-content-center">-->
          <!--<label class="radio-option slide1" for="slide1"></label>-->
          <!--<label class="radio-option slide2" for="slide2"></label>-->
          <!--<label class="radio-option slide3" for="slide3"></label>-->
          <!--<label class="radio-option slide4" for="slide4"></label>-->
          <!--<label class="radio-option slide5" for="slide5"></label>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="wrapper-container">-->
      <!--<div class="hover-image">-->
        <!--<div class="module-inner">-->
          <!--<div class="module-image">-->
            <!--<img alt="Image Alt" src="http://polytechnic.themeisland.net/wp-content/uploads/sites/10/2014/01/smiling_brunette.jpg">-->
          <!--</div>-->

          <!--<div class="module-content">-->
            <!--<div class="content-inner">-->
              <!--<h4>Heading Here</h4>-->
              <!--<p>Ur Content here</p>-->
              <!--<p>-->
                <!--<a title="Quick Look at Visual Composer" href="javascript:void(0)">-->
                  <!--<strong>If any Links are there!</strong>-->
                <!--</a>-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="module-background">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="google-map-container">-->
        <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3813.0763924111557!2d81.28765131487253!3d17.117772588240708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a36f6317af42a33%3A0x5ca935c50ef6ea80!2sVidya+Vikas!5e0!3m2!1sen!2sin!4v1527738756855" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="wrapper-footer">-->
          <!--<div class="footer-top-container">-->
            <!--<div class="about-us-block">-->
              <!--<h3 class="widget-title">ABOUT US</h3>-->
              <!--<div class="textwidget">-->
                <!--<p>All you need to feel prepared for your exams, with the confidence to succeed. All you need to feel prepared for your exams succeed.</p>-->
                <!--<p>All you need to feel prepared for your exams, with the confidence to succeed. All you need to feel</p>-->
                <!--<p><a class="widget-button" href="http://themeforest.net/user/aislin/portfolio">BUY THIS THEME</a></p>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="contact-us-block">-->
              <!--<h3 class="widget-title">CONTACT US</h3>-->
              <!--Skilled is also likely to be focused on fast and bright teaching, it's a great type of courses to...-->
              <!--<ul>-->
                <!--<li><i class="fa fa-map-marker" aria-hidden="true"></i>The Aislin Themes Inc. Best Avenue  16-2, CA 23653, USA</li>-->
                <!--<li><i class="fa fa-phone" aria-hidden="true"></i>+1 998 71 150 30 20</li>-->
                <!--<li><i class="fa fa-print" aria-hidden="true"></i>+1 998 71 150 30 22</li>-->
                <!--<li><i class="fa fa-envelope-o" aria-hidden="true"></i>info@aislinthemes.com</li>-->
              <!--</ul>-->
            <!--</div>-->
            <!--<div class="working-hours-block">-->
              <!--<h3 class="widget-title">WORKING HOURS</h3>-->
              <!--<ul>-->
                <!--<li><span class="title">Monday</span><span class="hours">9am - 6pm</span></li>-->
                <!--<li><span class="title">Tuesday</span><span class="hours">9am - 6pm</span></li>-->
                <!--<li><span class="title">Wednesday</span><span class="hours">9am - 6pm</span></li>-->
                <!--<li><span class="title">Thursday</span><span class="hours">9am - 6pm</span></li>-->
                <!--<li><span class="title">Friday</span><span class="hours">9am - 6pm</span></li>-->
                <!--<li><span class="title">Saturday</span><span class="hours"><em>Closed</em></span></li>-->
                <!--<li><span class="title">Sunday</span><span class="hours"><em>Closed</em></span></li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</div>-->
      <!--<div class="footer-bottom-container">-->
        <!--<div class="copyrights-section">-->
          <!--© Skilled&nbsp;2015 &nbsp; • &nbsp; 13 Hanway Square, London &nbsp; • &nbsp; Tel: 71494563 &nbsp; • &nbsp; Handcrafted by AislinThemes-->
        <!--</div>-->
        <!--<div class="social-links">-->
          <!--<a target="_blank" href="http://google.com" style="font-size:20px">-->
            <!--<i class="fa fa-twitter"></i>-->
          <!--</a>-->
          <!--<a target="_blank" href="http://google.com" style="font-size:20px">-->
            <!--<i class="fa fa-instagram"></i>-->
          <!--</a>-->
          <!--<a target="_blank" href="http://google.com" style="font-size:18px">-->
            <!--<i class="fa fa-facebook"></i>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->


<!--<script src="javascripts/jquery.min.js"></script>-->
  <!--<script src="javascripts/jquery.flexslider-min.js"></script>-->

  <!--<script>
//      $(window).load(function() {
//          $('.flexslider').flexslider({
//              animation: "fade",
//              animationSpeed: 2000,
//              directionNav: true,
//              easing: "swing",
//              touch: true,
//              controlNav: false,
//              pauseOnHover: false
//
//          });
//
//      });
  </script>-->

<!--New Home Page-->

<div class="home-wrapper">
  <div class="header">
    <ul>
      <li><a href="home-wrapper">HOME</a></li>
      <li><a href="#servicing-wrapper">SERVICES</a></li>
      <li><a href="javascript:void(0)">OUR WORK</a></li>
      <li><a href="javascript:void(0)">ABOUT US</a></li>
      <li><a href="javascript:void(0)">CONTACT</a></li>
      <li><a href="javascript:void(0)" id="login_funct">LOGIN</a></li>
    </ul>
  </div>
  <div class="main-body">
    <div id="home-wrapper">
      <img src="/images/vvp1.jpg" alt="Mailfixxlogo" style="width: 100%;">
    </div>
    <div id="servicing-wrapper">
      <div class="services">
        <h3><span>SERVICES</span></h3>
        <div class="content row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <!--<img src="" alt="kids"/>-->
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            <h5>Kids Camp</h5>
            <p>Play school for kids starts from Kindergarten to 5th Std</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            <h5>High School</h5>
            <p>High standard Education from 5th Std to 10 Std</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            <h5>Higher Secondary</h5>
            <p>Facilitates M.P.C and Bi.P.C courses for students.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="work-wrapper">
      <div class="work">
        <h3><span>OUR WORK</span></h3>
        <div class="image-holder">
          <% Image.all.order("created_at desc").limit(6).each do |image| %>
          <%= image_tag image.avatar.url(:medium) %>
            <% end  %>
        </div>
      </div>
    </div>
    <div id="aboutus-wrapper">
      <div class="aboutus">
        <div class="aboutus-wrapper">
          <h3><span>ABOUT US</span></h3>
          <div class="about-us-content">
            <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.</p>
            <p>This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. </p>
          </div>
        </div>
      </div>
    </div>
    <div id="contactus-wrapper">
      <div class="contactus">
        <div class="contactus-wrapper">
          <h3><span>CONTACT US</span></h3>
          <div class="contact-us-content">
            <p class="address">Vidya Vikas Institutions,</p>
            <p class="address">Gaddevari Street,  Jangareddy Gudem,</p>
            <p class="address">West Godavari District, Andhra Pradesh  </p>
            <p class="address">Pin Code - 534447.</p>
            <p class="address">Telephone No: 08821 - 223256</p>
            <h4>OPENING HOURS</h4>
            <p><span>Monday:</span><span>8am - 6pm</span><span>Tuesday:</span><span>8am - 6pm</span></p>
            <p><span>Wednesday:</span><span>8am - 6pm</span><span>Thursday:</span><span>8am - 6pm</span></p>
            <p><span>Friday:</span><span>8am - 6pm</span><span>Saturday:</span><span>8am - 6pm</span></p>
            <p><span>Sunday:</span><span>Half Day</span></p>
          </div>
        </div>
        <div class="google-map-wrapper">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3813.0763924111557!2d81.28765131487253!3d17.117772588240708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a36f6317af42a33%3A0x5ca935c50ef6ea80!2sVidya+Vikas!5e0!3m2!1sen!2sin!4v1527738756855" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div id="footer-wrapper">
      <div class="footer">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-pinterest-p" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <p>&copy; 2018 by Vidya Vikas Educational Institutes</p>
      </div>
    </div>
  </div>
</div>

<div class="popup_login ui-dialog-content ui-widget-content" id="ui-id-3" style="width: auto; min-height: 142px; max-height: none; height: auto;">
  <h1 class="hidden">Login</h1>
  <div class="module-login">
    <div class="login">
      <div class="panel panel-default">
        <div class="panel-body">
          <form id="login_form" class="user_login">
            <div class="alert alert-danger"></div>
            <input type="hidden" name="normal_login" id="normal_login" value="true">
            <fieldset>
              <legend>
                Log in
              </legend>
              <div class="form-group">
                <label>Username</label>
                <input placeholder="Username" class="form-control" title="Username" type="text"  id="user_email">
              </div>
              <div class="form-group">
                <label>Password</label>
                <input placeholder="Password" class="form-control" title="Password" type="password" id="user_password">
              </div>
              <div class="form-group">
                  <div class="pull-right"><a href="/lost-password" class="login-lost">Lost password?</a></div>
              </div>
              <div class="form-group job-btn">
                <input id="click-login" value="Login" class="btn btn-default" title="Login here">
                <div class="loading">
                  <img src="https://assets.kreatio.net/mining_journal_redesign/images/bx_loader.gif" alt="loader">
                </div>
              </div>
            </fieldset>
          </form>				</div>
      </div>
    </div>
  </div><!-- end container -->
</div>

<script>
  $("#login_funct").on("click",function () {
      $(".popup_login").css("display", "block");
  });

  $("#click-login").on("click",function () {
      $(".loading").show();
      var username = $("#user_email").val();
      var password = $("#user_password").val();

      $.ajax({

          url: "/users/login",
          type: 'GET',
          data: {"username": username, "password": password},
          dataType: 'json',
          success: function (data) {
              $(".loading").hide();
           if(data.status == "true"){
               window.location = '/users/dashboard';
           }
           else {
               $(".alert-danger").css("display", "block");
               $(".alert-danger").append(data.message);
           }
          }
      });
  });
</script>